{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}


<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/map.png" class="card-img-top" alt="Map" width="50" height="250" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Summary</h5>
		<p class="card-text"> Currently, we are unable to determine the next location of the spread of the COVID-19 virus. However, we can predict the probability of where it would spread next. Our project aims to develop a COVID-19 hotspot prediction system using environmental variables such as air quality, meteorological variables, and human population. Based on our research, the air quality and the weather had a positive correlation with spread of the virus. 
							Users will be able to see which city is safe during pandemic. </p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/virus.png" class="card-img" alt="virus" width="50" height="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">How it works? </h5>
        <p class="card-text"> The user will input the environmental variables and our prediction model will output a value of how many cases will the virus produce. The higher the number of cases, the more cautious the user should be in the chosen city.</p>
		<p class="card-text"> Random Forest Regressor is used to predict the number of COVID-19 cases. </p>
      </div>
    </div>
  </div>
</div>



<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/python.jfif" class="card-img" alt="Python" width="50" height="250">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Tools used: </h5>
        <p class="card-text">Python for Web Design and Analysis </p>
		<p class="card-text">Flask, Sklearn, Numpy, Matplotlib </p>
		<p class="card-text">Docker and Azure for production </p>
      </div>
    </div>
  </div>
</div>



{% endblock %}