{% extends "base.html" %}
{% block title %} Members Page {% endblock %}
{% block content %}


<div class="card-deck">
  <div class="card">
    <img src="static/2x2.jpg" class="card-img-top" alt="Paulo" style="width:200px;height:180px;">
    <div class="card-body">
      <h5 class="card-title">Paulo Tipan</h5>
      <p class="card-text">Team Creator</p>
	  <p class="card-text">BS Physics graduate at De La Salle University, Philippines </p>
	  <p class="card-text">Environmental Researcher</p>									
    </div>
    <div class="card-footer">
      <small class="text-muted">Likes: Sports</small>
    </div>
  </div>
  <div class="card">
    <img src="static/angelogs.jpg" class="card-img-top" alt="Angelo Valera" style="width:200px;height:180px;">
    <div class="card-body">
      <h5 class="card-title">Angelo Valera</h5>
      <p class="card-text">Main Data Analyst</p>
	  <p class="card-text">BS Physics graduate at De La Salle University, Philippines </p>
	  <p class="card-text">Environmental Researcher</p>	
    </div>
    <div class="card-footer">
      <small class="text-muted">Likes: Cars</small>
    </div>
  </div>
  <div class="card">
    <img src="static/pau.jpg" class="card-img-top" alt="Paulito" style="width:200px;height:180px;">
    <div class="card-body">
      <h5 class="card-title">Paulito Mandia</h5>
      <p class="card-text">Main Researcher</p>
	  <p class="card-text">MS Physics student at De La Salle University, Philippines </p>
	  <p class="card-text">Environmental Researcher</p>	
    </div>
    <div class="card-footer">
      <small class="text-muted">Likes: Traveling </small>
    </div>
  </div>
</div>

{% endblock %}