{% extends "base.html" %}
{% block title %} Reference Page {% endblock %}
{% block content %}
<center>

 <h1> </h1>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/no2nasa.png" class="card-img" alt="NO2" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>NO2 levels in the Manila, Philippines by NASA Satellite</b></h5>
		<p>Image found on https://so2.gsfc.nasa.gov/no2/pix/htmls/Manila_data.html</p>
		<br> </br>
		<p>
		<b>Air quality open data platform - worldwide COVID-19 dataset.</b> Accessed on May 2020. <a href="https://aqicn.org/data-platform/covid19/">https://aqicn.org/data-platform/covid19/</a>
		</p>
		<p>
		<b>NOAA - National centers for environmental information.</b> Accessed on May 2020. <a href="https://www.ncdc.noaa.gov/cdo-web/datatools/findstation">https://www.ncdc.noaa.gov/cdo-web/datatools/findstation</a>
		</p>
		<p>
		<b>COVID-19 Cases in the Philippines.</b> Accessed on May 2020. <a href="https://www.doh.gov.ph/2019-nCoV">https://www.ncdc.noaa.gov/cdo-web/datatools/findstation</a>
		</p>
      </div>
    </div>
  </div>
</div> 

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="static/JAXA.png" class="card-img" alt="NO2" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>Aerosol Thickness csv files </b></h5>
		<p>Image found on https://gportal.jaxa.jp/ </p>
		 <h5 class="card-title"><b>Satellites </b></h5>
		  <p>MODIS / AQUA </p>
		  <p>MODIS / TERRA </p>
      </div>
    </div>
  </div>
</div> 


<h1> Prediction Model </h1>
<div class="card w-75">
  <div class="card-body">
<p>
<b>Scikit-learn machine learning in Python on random forest regressor.</b> Accessed on May 2020. <a href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html">https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html</a>
</p>
  </div>
</div>


<h1> Literatures </h1>

<div class="card w-75">
  <div class="card-body">
    <p>
	Bashir, M.F., Ma, B., Bilal, Komal, B., Bashir, M.A., Tan, D., Bashir, M., <b>Correlation between climate indicators and COVID-19 pandemic in New York, USA.</b> <i>Science of The Total Environment</i>, 729 (2020).
	<a href="https://doi.org/10.1016/j.scitotenv.2020.138835">https://doi.org/10.1016/j.scitotenv.2020.138835</a>
	</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
    <p>
	Gardner, E., Kelton, D., Poljak, Z., Van Kerkhove, M., von Dobschuetz, S., Greer, A.L., <b>A case-crossover analysis of the impact of weather on primary cases of Middle East respiratory syndrome.</b> <i>BMC Infectious Diseases</i>, 19 (2019).
	<a href="https://doi.org/10.1186/s12879-019-3729-5">https://doi.org/10.1186/s12879-019-3729-5</a>
	</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
	<p>
	Gupta, S., Raghuwanshi, G.S., Chanda, A., <b>Effect of weather on COVID-19 spread in the US: A prediction model for India in 2020.</b> <i>Science of The Total Environment</i>, 728 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.138860">https://doi.org/10.1016/j.scitotenv.2020.138860</a>
	</p>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
<p>
Huang, Z., Huang, J., Gu, Q., Du, P., Liang, H., Dong, Q., 
<b>Optimal temperature zone for the dispersal of COVID-19.</b><i>Science of The Total Environment</i>, 729 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.139487">https://doi.org/10.1016/j.scitotenv.2020.139487</a>
</p>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
<p>
Liu, J., et al.,
<b>Impact of meteorological factors on the COVID-19 transmission: A multi-city study in China. </b> <i>Science of The Total Environment</i>, 726 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.138513">https://doi.org/10.1016/j.scitotenv.2020.138513</a>
</p>
  </div>
</div>

<div class="card w-75">
  <div class="card-body">
<p>
Ren, H., Zhao, L., Zhang, A., Song, L., Liao, Y., Lu, W., Cui, C., 
<b>Early forecasting of the potential risk zones of COVID-19 in China's megacities.</b> <i>Science of The Total Environment</i>, 729 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.138995">https://doi.org/10.1016/j.scitotenv.2020.138995</a>
</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
<p>
Sobral, M., Duarte, G.B., Sobral, A., Marinho, M., Melo, A.,
<b>Association between climate variables and global transmission oF SARS-CoV-2.</b> <i>Science of The Total Environment</i>, 729 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.138997">https://doi.org/10.1016/j.scitotenv.2020.138997</a>
</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
<p>
Tamerius, J.D., Shaman, J., Alonso, W.J., Bloom-Feshbach, K., Uejio, C.K., Comrie, A., Viboud, C., 
<b>Environmental predictors of seasonal influenza epidemics across temperate and tropical climates.</b> <i>PLOS Pathogens</i>,9 (2013). <a href="https://journals.plos.org/plospathogens/article?id=10.1371/annotation/df689228-603f-4a40-bfbf-a38b13f88147">doi:10.1371/journal.ppat.1003194.g001</a>
</p>  
</div>
</div>


<div class="card w-75">
  <div class="card-body">
<p>
Tosepu, R., Gunawan, J., Effendy, D.S., Ahmad, L., Lestari, H., Bahar, H., Asfian, P., 
<b>Correlation between weather and Covid-19 pandemic in Jakarta, Indonesia.</b> <i>Science of The Total Environment</i>, 725 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.138436">https://doi.org/10.1016/j.scitotenv.2020.138436</a>
</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
<p>
Wu, X., Nethery, R.C., Sabath, B., Braun, D., Dominici, F.,
<b>Exposure to air pollution and COVID-19 mortality in the United States: A nationwide cross-sectional study.</b> <a href="https://projects.iq.harvard.edu/covid-pm">https://projects.iq.harvard.edu/covid-pm</a>
</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
<p>
Yuki, K., Fujiogi, M., Koutsogiannaki, S., 
<b>COVID-19 pathophysiology: a review.</b> <i>Clinical Immunology</i>, 215 (2020). <a href="https://doi.org/10.1016/j.clim.2020.108427">https://doi.org/10.1016/j.clim.2020.108427</a>
</p>
  </div>
</div>


<div class="card w-75">
  <div class="card-body">
<p>
Zhu, Y., Xie, J., Huang, F., Cao, L., 
<b>Association between short-term exposure to air pollution and COVID-19 infection: Evidence from China.</b> <i>Science of The Total Environment</i>, 729 (2020). <a href="https://doi.org/10.1016/j.scitotenv.2020.138704">https://doi.org/10.1016/j.scitotenv.2020.138704</a>
</p>
  </div>
</div>

</center>

{% endblock %}